body{
margin: 0;
font-family: 'Roboto Slab', serif;
}

*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*------------------------------------------------Menu de navegacion------------------------------------------------*/
.navegacion {
  width: 1000px;
  margin: 30px auto;
  background: #2A5B71;
  text-align: center;
}
.navegacion ul{
  list-style: none;
}
.menu > li{
  display: inline-block;
  padding: 0px 29px;

}
.menu > li> a{
  display: block;
  padding: 15px 20px;
  color: #fff;
  font-family: 'open sans';
  text-decoration: none;
}

.menu li a:hover{
  color: #5f2121;
  transition: all .3s;
}

.smenu{
  position: absolute;
  background: #5cb8ff;
  display: none;
}

.menu li:hover .smenu{
  display: block;
}

.smenu li a{
  display: block;
  width: 120%;
  padding: 15px;
  color: #fff;
  text-decoration: none;
  text-align:left
}


/*------------------------------------------------Imagenes y bodystyle---------------------------------------------*/
header{
background: linear-gradient(rgba(109, 114, 116, 0.7),rgba(4, 37, 39, 0.5)),url(./imagen/fondoo.jpg);
height: 100vh;
background-size: cover;
}
#contenedor-titulo-flex{
  max-width: 1580px;
  display: flex;
  justify-content: center;
  margin: 20vh 0;
}

h1{
  font-size: 55px;
  color: #fff;
  margin: 0;
}
h2{
  font-size: 20px;
  color: #fff;
  text-align: center;
}
h3{
  font-size: 20px;
  color: #6f1717;
  text-align: center;
}
.contenedor-titulo{
  text-align: center;
}
.contenedor-titulo a{
  width: 160px;
  margin: 3vh 10vh;
  display: inline-block;
  font-size: 15px;
  background: #5cb8ff;
  padding: 14px 24px;
  text-decoration: none;
  color: #ffffff;
}
.contenedor-titulo a:hover{
  color: #5f2121;
  transition: all .3s;
}
.contenedor-titulo h3:hover{
  color: #ffffff;
  transition: all .3s;
}
p.logo{
  font-size: 20px;
  color: #652e2e;
  padding:0px 12px 10px 12px;
  width: 19%; 
}
header nav ul li a{
  color: #3E3C7C;
}

